

services:
  db:
    image: postgres:15
    container_name: redmane-db
    restart: always
    env_file:
      - .env
    ports:
      - "5432:5432"
    volumes:
    - postgres_data:/var/lib/postgresql/data
    - ./data/readmedatabase.sql:/docker-entrypoint-initdb.d/init.sql:ro


volumes:
  postgres_data:
